<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/search.css"/>

    </head>
    <body>
    <br>
    <br>
    <br>
    {% for s in scenarios %}
    <a href="/view/{{ s[0] }}" ><div class="border border-1 rounded" style=" margin-left: 25%; width: 50%; text-align: center;"> {{s[1]}}</div> </a>
    <br>
    {% endfor %}
    <a href="/" ><div class="border border-1 rounded" style=" margin-top: 30%; margin-left: 35%; width: 30%; text-align: center;"> На главную </div>
    </body>